
.country{
    padding: 20px;
}
.country article .country-details div {
    margin: 30px 0;
}

.country-details div h2 {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
}
.country-details div h5 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
}
.country-details div h5 span{
    font-weight: 300;
}