*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    background-color: #d6c1e3 !important;
}

.country-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-img-top{
    height: 65%;
    max-width: 100%;
    object-fit: cover;
}
.country-card{
    width: 16rem;
}
.search-input::placeholder{
    color: white;
}
.capital{
    font-weight: 300;
    font-size: 16px;
    margin-top: -10px;
}